{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'login.css'%}">
    <script src="{% static 'login.js'%}"></script>
    <title>register</title>
</head>
<body class="main">
    <div >
           
          <div class="form_log" >
              <div class="border1" >
                  
                    
                        <div class="imginsta">
                                <h1>Log in</h1>
                        </div>
                        <div class="sing_up_Log_in">
                            <span> Don't have an account? <a class="liked_account" href="http://127.0.0.1:8000/Register">Sign up </a> </span>
                        </div>  
                        <hr>
                    <form class="input" action="/log" method="post" >
                        {% csrf_token %}
                        <div >
                            <h3>{{error}}</h3>
                            <input type="text" placeholder="username" name="username" required>
                            <input type="password"  placeholder="Password"  name="password" required>
                            <button type="submit" class="login_button" >Login</button>
                        </div>
                            
                    </form>  
                    <div class="footer_form">
                        <p>By continuing, you agree to the GoFundMe terms and acknowledge receipt of our privacy notice. </p>
                    
                    </div>   
              </div >  
              
          </div> 
            
    </div>  
</body>
</html>