<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>register</title>
</head>
<body class="main">
    <div >
           
          <div class="form_log" >
              <div class="border1" >
                  
                    
                        <div class="imginsta">
                                <h1>Log in</h1>
                        </div>
                        <div class="sing_up_Log_in">
                            <span> Don't have an account? <a class="liked_account" href="./register.html">Sign up </a> </span>  
                        </div>  
                        <hr>
                    <form class="input" action=" " method="post" onsubmit="validateForm(event,this)">    
                        <div >
                            <input type="email" placeholder="Email"  required>
                            <input type="password"  placeholder="Password" required>
                            <button type="submit" class="login_button" >Login</button>
                        </div>
                            
                    </form>  
                    <div class="footer_form">
                        <p>By continuing, you agree to the GoFundMe terms and acknowledge receipt of our privacy notice. </p>
                    
                    </div>   
              </div >  
              
          </div> 
            
    </div>  
</body>
</html>