{%load static%}
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css'%}">
    <script src="{% static 'login.js'%}"></script>
    <title>register</title>
</head>
<body class="main">
    <div >
           
          <div class="form" >
              <div class="border1" >
                  
             
                        <div class= "imginsta">
                                <h1>Sign up</h1>
                        </div>
                        <div class="sing_up_Log_in">
                            <span> Have an account? <a class="liked_account" href="http://127.0.0.1:8000/log">Log in</a> </span>
                        </div>  
                        <hr>
                        <label id="error"></label>
                        
                    <form class="input"  action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3>{{error}}</h3>
                        <div >
                             {{form.as_p}}
                            <button type="submit" class="login_button" >Sign up</button>
                        </div>
                            
                    </form>  
                    <div class="footer_form">
                        <p>By continuing, you agree to the GoFundMe terms and acknowledge receipt of our privacy notice. </p>
                    
                    </div>   
              </div >  
              
          </div> 
            
    </div>  
</body>
</html>